.text-shadow {
    text-shadow: 2px 2px 2px rgba(205, 187, 255, 0.5);
}

.flash_messages {
    line-height: 3;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col-strong {
    margin: 5px;
    line-height: 42px;
}

#movie-title {
    padding-top: 10px;
}